coverage
node_modules
.DS_Store
npm-debug.log
test/database/dev.sqlite3
.nyc_output
.nyc_output/*
yarn.lock
shrinkwrap.yaml
package-lock.json
.DS_STORE
.idea
.vscode/
*.sublime-project
*.sublime-workspace
*.log
build
dist
